<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>다양한 커리어 성장의 기회 | 원티드 이벤트</title>
    <style type="text/css">
        .cardSection {
            width:248px;
            border: 1px solid #ececec;
        }

        .imgCon {
            background-image:url("https://static.wanted.co.kr/images/events/1003/385722cb.jpg");
            background-size:cover;
            background-position:50%;
            width:100%;
            height:176px;
        }

        .bottomDiv {
            width: 100%;
            padding: 20px;
        }

        .subCardSection {
            padding:20px;

        }
    </style>
</head>
<body>

<div id="app">
    <div class="cardSection">
        <div class="imgCon">
        </div>
        <div class="subCardSection">
            <div class="type-tag">
                <span>온라인</span>
                <span>EDU</span>
            </div>
            <div class="title">
                인간관계를 편하게 만드는 일하는 멘탈 힐링 세미나
            </div>
            <div class="date">
                2020.12.02 (수)
            </div>
            <div class="hashtag">
                #HR
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://npmcdn.com/axios/dist/axios.min.js"></script>

<script>
    new Vue({
        el: "#app",
        computed: {},
        methods: {},
        data: {
            cardDataArr : [
                {
                     imgSrc: "a5c5abf4.jpg"
                    ,typeTag: ["온라인","프로모션"]
                    ,title: "[KB국민은행 X 원티드] 월급 x2배 치트키"
                    ,dateTxt: "2020.111.13 (금) ~ 2020.11.30 (월)"
                    ,hashTag:["#콜라보레이션","#금융","#커리어"]
                    ,isEnd: false
                    ,detailLink: "/doublesalary"
                },
                {
                    imgSrc: "7400567b.png"
                    ,typeTag: ["프로모션"]
                    ,title: "일잘러 인증하고 100만원 보너스 받자!"
                    ,dateTxt: "2020.11.17 (화) ~ 2020.11.30 (월)"
                    ,hashTag:["#커리어"]
                    ,isEnd: false
                    ,detailLink: "/hundredbonus"
                }
            ]
        }
    });
</script>
<style>
</style>
</body>
</html>
