<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>이벤트 리스트 페이지</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/basicinfo.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body style="background-color: #f8f8fa;">
<script>
    function myInfoPage(userId) {
        location.href = '/employees/view/' + userId;
    }
</script>
<div role="presentation" class="_18n9ahfYSkH2qwpg5s7sYW" style="position:fixed">
    <div class="MGugNQX2O1RJkenNGmHO9" role="presentation">
        <nav>
            <div data-attribute-id="gnb" data-gnb-kind="home"><a href="/" class="wantedLogo"><i
                    class="icon-logo_new"></i></a></div>
            <ul class="_1ghqg44RECsZcnX4nLgXKP">
                <li class="xsHomeButton xsOnly" data-attribute-id="gnb" data-gnb-kind="home"><a href="/"
                                                                                                class="">홈</a></li>
                <li class="" data-attribute-id="gnb" data-gnb-kind="explore"><a href="/wdlist" class="">탐색</a></li>
                <li class="smMoreVisible" data-attribute-id="gnb" data-gnb-kind="event"><a href="/event/search"
                                                                                           class="">이벤트</a>
                </li>
                <li class="smMoreVisible" data-attribute-id="gnb" data-gnb-kind="matchup"><a
                        href="/matchup/intro?from_gnb=true" class="">매치업</a></li>
            </ul>
            <div role="presentation" style="top:50px" class="_20ifPcRwe0HfDn42RqwaqR">
                <div class="overlay">
                    <div class="container"></div>
                </div>
            </div>
            <aside class="_1_C3JjCbQiF2wpzdXK0i_Y">
                <ul>
                    <li>
                        <button type="button" class="searchButton" data-attribute-id="gnb" data-gnb-kind="search"><i
                                class="icon-search"></i></button>
                    </li>
                    <li>
                        <button type="button" class="notiButton" data-attribute-id="gnb" data-gnb-kind="bell"><i
                                class="icon-bell"></i></button>
                    </li>
                    <li class="smMoreVisible" style="padding-top:5px;">
                        <button type="button"
                                th:style="'background-image:url(' + ${#authentication.picUrl} + '), url(' + ${#authentication.picUrl} + ');'"
                                data-attribute-id="gnb" data-gnb-kind="photo" class="profileButton"
                                th:onclick="'myInfoPage(' + ${#authentication.id} + ');'"></button>
                    </li>
                    <li class="smMoreVisible" data-attribute-id="gnb" data-gnb-kind="forEmployers"
                        style="padding-top:10px;">
                        <a class="dashboardButton" href="/event/list">이벤트 관리</a>
                    </li>
                    <li class="smMoreVisible" data-attribute-id="gnb" data-gnb-kind="forEmployers"
                        style="padding-top:10px;">
                        <a class="dashboardButton" href="/company">기업 정보 등록</a>
                    </li>
                    <li class="smMoreVisible" data-attribute-id="gnb" data-gnb-kind="forEmployers"
                        style="padding-top:10px;"><a
                            class="dashboardButton" href="/auth/logout">로그아웃</a></li>
                    <li class="xsOnly">
                        <button class="menuButton" type="button" data-attribute-id="gnb" data-gnb-kind="photo"><i
                                class="icon-menu"></i></button>
                    </li>
                </ul>
            </aside>
        </nav>
    </div>
</div>
<div style="height:50px"></div>
<div class="_1Gv5LM5zal-f72_XSo_qJ_">
    <nav role="presentation" class="_3wSXAiIJQZ98fJ-Hi6G42Q is-matching">
        <button type="button" class="">프로필<i class="icon-arrow_bottom_fill"></i></button>
        <ul class="_1I4cqaAHGtwxgFUnJHZb4l">
            <li class="_1ft7OZSrbzL35bkI-omU2b">
                <div data-attribute-id="myPage" data-tab-kind="myWanted"><a href="/mywanted" class="">MY 원티드</a></div>
            </li>
            <li class="_1ft7OZSrbzL35bkI-omU2b">
                <div data-attribute-id="myPage" data-tab-kind="profile"><a href="/profile/matching" class="activeNav">프로필</a>
                </div>
            </li>
            <li class="_1ft7OZSrbzL35bkI-omU2b">
                <button type="button" class="">지원 현황<i class="icon-arrow_bottom_fill"></i></button>
                <div data-attribute-id="myPage" data-tab-kind="applications"><a href="/status/applications" class="">지원
                    현황</a></div>
            </li>
            <li class="_1ft7OZSrbzL35bkI-omU2b">
                <button type="button" class="">제안받기 현황<i class="icon-arrow_bottom_fill"></i></button>
                <div data-attribute-id="myPage" data-tab-kind="offersReceived"><a href="/profile/status" class="">제안받기
                    현황</a></div>
            </li>
            <li class="_1ft7OZSrbzL35bkI-omU2b">
                <div data-attribute-id="myPage" data-tab-kind="likes"><a href="/profile/likes" class="">좋아요</a></div>
            </li>
            <li class="_1ft7OZSrbzL35bkI-omU2b">
                <div data-attribute-id="myPage" data-tab-kind="bookmarks"><a href="/profile/bookmarks" class="">북마크</a>
                </div>
            </li>
            <li class="_1ft7OZSrbzL35bkI-omU2b">
                <button type="button" class="">MY 영상<i class="icon-arrow_bottom_fill"></i></button>
                <div data-attribute-id="myPage" data-tab-kind="myVideos"><a href="/profile/myvod" class="">MY 영상</a>
                </div>
            </li>
            <li class="_1ft7OZSrbzL35bkI-omU2b">
                <div data-attribute-id="myPage" data-tab-kind="points"><a href="/profile/point" class="">포인트</a></div>
            </li>
            <li class="_1ft7OZSrbzL35bkI-omU2b">
                <button type="button" class="">설정<i class="icon-arrow_bottom_fill"></i></button>
                <div data-attribute-id="myPage" data-tab-kind="settings"><a href="/profile/settings" class="">설정</a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="_14NzdD9Zqjq8ocf6TORWoN">
        <aside class="Aside _1dBR38s0D_bqykmPvZBYPu">
            <header class="Aside-header">
                <div class="Aside-avatar">
                    <div class="Aside-avatar_image"
                         th:style="'background-image:url(' + ${#authentication.picUrl} + '), url(' + ${#authentication.picUrl} + ');'">
                        <div class="_1RDFX7ZROHIIPqPMgmtS2E"><input type="file" accept="image/*"><i
                                class="icon-camera_icon" role="presentation"></i></div>
                    </div>
                </div>
                <div class="Aside-me">
                    <div class="Aside-me_name" th:text="${#authentication.name}"></div>
                    <div class="Aside-me_email" th:text="${#authentication.email}"></div>
                    <!--                    <div class="Aside-me_tel" th:text="${#authentication.info.phoneNumber}"></div>-->
                </div>
                <a th:href="@{'/employees/view/' + ${#authentication.id}}" class="Aside-edit is-level_1"
                   data-attribute-id="profile__basicInfoEdit">기본정보 수정</a></header>
            <div class="MatchUpStatus _s0V-DmOyFivCW3HY7Nh3 is-disabled"><a href="/profile/status?type=matchup-likes"
                                                                            class="MatchUpStatus-item disabled"><span
                    class="MatchUpStatus-label">원해요</span><strong class="MatchUpStatus-value">3</strong></a><a
                    href="/profile/status?type=matchup-opens" class="MatchUpStatus-item disabled"><span
                    class="MatchUpStatus-label">열람</span><strong class="MatchUpStatus-value">7</strong></a><a
                    href="/profile/status?type=matchup-offers" class="MatchUpStatus-item disabled"><span
                    class="MatchUpStatus-label">받은 제안</span><strong class="MatchUpStatus-value">5</strong></a></div>
        </aside>
        <section>
            <div class="MatchUpForm _1DBZ1F8aWXUpL5ry5a_nRi -Pzu8KqPWyTbeWGLO7ce">
                <header class="Form-header">
                    <dl class="Form-title">
                        <dt>이벤트 리스트</dt>
                        <dd>등록한 이벤트 리스트 입니다.</dd>
                    </dl>
                    <a href="/event/edit/0" class="ResumeWordCountWarning-button" data-attribute-id="profile__completeProfile" style="
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 167px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #258bf7;
    margin-left: 20px;
    font-size: 16px;
    line-height: .94;
    font-weight: 600;
    color: #258bf7;
    float: right;
">이벤트 추가하기</a>
                </header>
                <div class="FormBlock _3jRGSvRhv5E53D3OVwfvlL">
                    <ul class="VPRSDyCHiHFppMijZe2aD">
                        <li class="fP_VUVPjuQgPYE6jJLN1k" data-attribute-id="event__click" data-event-id="1031"
                            data-event-title="힙서비콘 Season 2" data-event-currency="KRW" data-event-price="10000"
                            style="--base-font-size:10;" th:each="event : ${events}">
                            <a th:href="'/event/edit/' + ${event.id}" class="">
                                <div>
                                    <header class=""
                                            th:style="'background-image:url(' + ${event.imageLink} + ');'"></header>
                                    <div>
                                        <div class="_2BUC5-Yfzgu-fKszfK1Ao-"><span class="type-tag is_online"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="11" height="12"
                                                viewBox="0 0 11 12"><path fill="currentColor"
                                                                          d="M5.98.9A5.09 5.09 0 00.32 6.54l1.03-.1a4.07 4.07 0 014.52-4.53L5.98.89zm4.57 4.56l-1.03.1A4.07 4.07 0 015 10.1l-.11 1.03a5.1 5.1 0 005.66-5.66zM5.76 2.94c-.9-.1-1.84.18-2.53.86a3.06 3.06 0 00-.86 2.54l1.02-.11c-.07-.6.12-1.24.57-1.7a2.05 2.05 0 011.7-.57l.1-1.02zM8.5 5.68l-1.04.12a2 2 0 01-2.24 2.24L5.1 9.06a3.06 3.06 0 003.4-3.4zm-2.53-.22c-.3-.3-.8-.3-1.1 0-.3.3-.29.78.02 1.08.3.3.79.3 1.09 0 .3-.3.3-.78 0-1.08z"></path></svg><span>온라인</span></span><span
                                                class="type-tag event">이벤트</span></div>
                                        <h2 class="" th:text="${event.title}"></h2>
                                        <h3 class="" th:text="${event.date}"></h3>
                                        <div class="_1505Yo3GLu3Ra7hZGT3C6x"><span class="_2ppInIvvKz4SPDQ_KSXfLq" th:text="${event.keywords}"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <input type="hidden" class="selldock_input_id" th:value="*{#authentication.id}">
            </div>
        </section>
    </div>
</div>
</body>
</html>
