<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Selldok-toy</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <link rel="stylesheet" type="text/css" href="/css/board.css">
</head>
<body>
<script>
    function myInfoPage(userId){
        location.href=`/employees/view/${userId}`;
    }
</script>
<div id="app">
    <div role="presentation" class="_18n9ahfYSkH2qwpg5s7sYW" style="position:fixed">
        <div class="MGugNQX2O1RJkenNGmHO9" role="presentation">
            <nav>
                <div data-attribute-id="gnb" data-gnb-kind="home"><a href="/" class="wantedLogo"><i
                        class="icon-logo_new"></i></a></div>
                <ul class="_1ghqg44RECsZcnX4nLgXKP">
                    <li class="xsHomeButton xsOnly" data-attribute-id="gnb" data-gnb-kind="home"><a href="/"
                                                                                                    class="">홈</a></li>
                    <li class="" data-attribute-id="gnb" data-gnb-kind="explore">
                        <a href="/board/list" class="">탐색</a>
                    </li>
                    <li class="microMoreVisible" data-attribute-id="gnb" data-gnb-kind="salary">
                        <a href="/salary" class="">직군별 연봉</a>
                    </li>
                    <li class="smMoreVisible" data-attribute-id="gnb" data-gnb-kind="resume"><a href="/cv"
                                                                                                class="">이력서</a></li>
                    <li class="smMoreVisible" data-attribute-id="gnb" data-gnb-kind="refer"><a href="/referral"
                                                                                               class="">추천</a></li>
                    <li class="smMoreVisible" data-attribute-id="gnb" data-gnb-kind="event"><a href="/events" class="">이벤트</a>
                    </li>
                    <li class="smMoreVisible" data-attribute-id="gnb" data-gnb-kind="matchup"><a
                            href="/matchup/intro?from_gnb=true" class="">매치업</a></li>
                </ul>
                <div role="presentation" style="top:50px" class="_20ifPcRwe0HfDn42RqwaqR">
                    <div class="overlay">
                        <div class="container"></div>
                    </div>
                </div>
                <aside class="_1_C3JjCbQiF2wpzdXK0i_Y">
                    <ul>
                        <li>
                            <button type="button" class="searchButton" data-attribute-id="gnb" data-gnb-kind="search"><i
                                    class="icon-search"></i></button>
                        </li>
                        <li>
                            <button type="button" class="notiButton" data-attribute-id="gnb" data-gnb-kind="bell"><i
                                    class="icon-bell"></i></button>
                        </li>
                        <li class="smMoreVisible" style="padding-top:5px;">
<!--                            <button type="button"-->
<!--                                    th:style="'background-image:url(' + ${#authentication.picUrl} + '), url(' + ${#authentication.picUrl} + ');'"-->
<!--                                    data-attribute-id="gnb" data-gnb-kind="photo" class="profileButton" th:onclick="'myInfoPage(' + ${#authentication.id} + ');'"></button>-->
                        </li>
                        <li class="smMoreVisible" data-attribute-id="gnb" data-gnb-kind="forEmployers"
                            style="padding-top:10px;">
                            <a class="dashboardButton" href="/">기업 서비스</a>
                        </li>
                        <li class="smMoreVisible" data-attribute-id="gnb" data-gnb-kind="forEmployers"
                            style="padding-top:10px;">
                            <a class="dashboardButton" @click.prevent="goAddWanted">구직 등록하기</a>
                        </li>
                        <li class="xsOnly">
                            <button class="menuButton" type="button" data-attribute-id="gnb" data-gnb-kind="photo"><i
                                    class="icon-menu"></i></button>
                        </li>
                    </ul>
                </aside>
            </nav>
        </div>
    </div>
    <div style="height:50px"></div>
    <div class="_2y4sIVmvSrf6Iy63okz9Qh">
        <div class="_1DPyMq6MHTj43gZ2KFduy9 _33qO_oTN15PB4g18zEsNj4">
            <div class="M6DRRXt81Az4OyHgJDT0a clearfix _1GA8o5NuhqhwSpe6wt0GL3">
                <div class="_3hj0Dag1UGVoZJVxaYIT8i">
                    <div class="_2uuJbnGtb65i2RMExVSBK9">
                        <button type="button" class="rcqdYh7jQOna89KEkhNjv _2bDCAQDQrgRRu7KXVVR7zx _1jJ5sjpmgcHgZ5uM0LZIwI hidden-xs"
                                data-attribute-id="explore__filter__click" data-filter-screen="explore" data-filter-name="company_tag"
                                data-job-category-id="" data-job-category="" data-job-role-id="" data-job-role="">
                            <span class="_243hy5OltkSpnxEC5JmQMo">태그</span>
                            <span class="_2foD8bDTDg3fLFC4TeOkd1 _3iPFHHPhQ1gbis_X27idaU">딱 맞는 기업찾기</span>
                        </button>
                        <button type="button"
                                class="rcqdYh7jQOna89KEkhNjv _2bDCAQDQrgRRu7KXVVR7zx _1jJ5sjpmgcHgZ5uM0LZIwI visible-xs"
                                data-attribute-id="explore__filter__click" data-filter-screen="explore" data-filter-name="company_tag"
                                data-job-category-id="" data-job-category="" data-job-role-id="" data-job-role="">
                            <span class="_243hy5OltkSpnxEC5JmQMo">태그</span>
                            <span class="_2foD8bDTDg3fLFC4TeOkd1 _3iPFHHPhQ1gbis_X27idaU">딱 맞는 기업찾기</span>
                        </button>
                        <b-form-select class="ml-2" v-model="selectedCountry" :options="countryOptions" @change="getBoardSelectDynamic"></b-form-select>
                        <b-form-select class="ml-2" v-model="selectedCity" :options="cityOptions" @change="getBoardSelectDynamic"></b-form-select>
                        <button type="button"
                                class="rcqdYh7jQOna89KEkhNjv _2bDCAQDQrgRRu7KXVVR7zx" data-attribute-id="explore__filter__click"
                                data-filter-screen="explore" data-filter-name="experience" data-job-category-id="" data-job-category=""
                                data-job-role-id="" data-job-role="">
                            <span class="_243hy5OltkSpnxEC5JmQMo">경력</span>
                            <span class="_2foD8bDTDg3fLFC4TeOkd1 _3iPFHHPhQ1gbis_X27idaU">3년</span>
                        </button>
<!--                        <b-button @click.prevent="goAddWanted">구직 등록하기</b-button>-->
                    </div>
                    <div class="py51HbyJktaZndNqVoiaa hidden-xs">
                        <div class="_2kUO5g0ZZCOcMCUUlSdDOm">
                            <div class="hidden-xs _1yKuWN52RL7nbmY_pkNKi1"><button class="" type="button"
                                                                                   data-attribute-id="explore__sort__click" data-job-category-id="" data-job-role-id=""
                                                                                   data-sort-screen="explore">최신순</button>
                                <ul style="display: none;">
                                    <li><button name="job.compensation_order" type="button"
                                                data-attribute-id="explore__sort__update" data-sort-kind="reward"
                                                data-job-category-id="" data-job-role-id=""
                                                data-sort-screen="explore">보상금순</button></li>
                                    <li><button name="job.popularity_order" type="button"
                                                data-attribute-id="explore__sort__update" data-sort-kind="popular"
                                                data-job-category-id="" data-job-role-id=""
                                                data-sort-screen="explore">인기순</button></li>
                                    <li><button name="company.response_rate_order" type="button"
                                                data-attribute-id="explore__sort__update" data-sort-kind="responseRate"
                                                data-job-category-id="" data-job-role-id=""
                                                data-sort-screen="explore">응답률순</button></li>
                                </ul>
                            </div><select class="visible-xs">
                            <option value="job.latest_order" data-attribute-id="explore__sort__update"
                                    data-sort-kind="latest" data-job-category-id="" data-job-role-id=""
                                    data-sort-screen="explore">최신순</option>
                            <option value="job.compensation_order" data-attribute-id="explore__sort__update"
                                    data-sort-kind="reward" data-job-category-id="" data-job-role-id=""
                                    data-sort-screen="explore">보상금순</option>
                            <option value="job.popularity_order" data-attribute-id="explore__sort__update"
                                    data-sort-kind="popular" data-job-category-id="" data-job-role-id=""
                                    data-sort-screen="explore">인기순</option>
                            <option value="company.response_rate_order" data-attribute-id="explore__sort__update"
                                    data-sort-kind="responseRate" data-job-category-id="" data-job-role-id=""
                                    data-sort-screen="explore">응답률순</option>
                        </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py51HbyJktaZndNqVoiaa _2zFXeeSoDxhtfFZ7FNNUCW visible-xs">
                <div class="_2kUO5g0ZZCOcMCUUlSdDOm">
                    <div class="hidden-xs _1yKuWN52RL7nbmY_pkNKi1"><button class="" type="button"
                                                                           data-attribute-id="explore__sort__click" data-job-category-id="" data-job-role-id=""
                                                                           data-sort-screen="explore">최신순</button>
                        <ul style="display: none;">
                            <li><button name="job.compensation_order" type="button"
                                        data-attribute-id="explore__sort__update" data-sort-kind="reward"
                                        data-job-category-id="" data-job-role-id="" data-sort-screen="explore">보상금순</button>
                            </li>
                            <li><button name="job.popularity_order" type="button" data-attribute-id="explore__sort__update"
                                        data-sort-kind="popular" data-job-category-id="" data-job-role-id=""
                                        data-sort-screen="explore">인기순</button></li>
                            <li><button name="company.response_rate_order" type="button"
                                        data-attribute-id="explore__sort__update" data-sort-kind="responseRate"
                                        data-job-category-id="" data-job-role-id="" data-sort-screen="explore">응답률순</button>
                            </li>
                        </ul>
                    </div><select class="visible-xs">
                    <option value="job.latest_order" data-attribute-id="explore__sort__update" data-sort-kind="latest"
                            data-job-category-id="" data-job-role-id="" data-sort-screen="explore">최신순</option>
                    <option value="job.compensation_order" data-attribute-id="explore__sort__update"
                            data-sort-kind="reward" data-job-category-id="" data-job-role-id="" data-sort-screen="explore">
                        보상금순</option>
                    <option value="job.popularity_order" data-attribute-id="explore__sort__update"
                            data-sort-kind="popular" data-job-category-id="" data-job-role-id="" data-sort-screen="explore">
                        인기순</option>
                    <option value="company.response_rate_order" data-attribute-id="explore__sort__update"
                            data-sort-kind="responseRate" data-job-category-id="" data-job-role-id=""
                            data-sort-screen="explore">응답률순</option>
                </select>
                </div>
            </div>
            <div class="_330sPkZI0qbpoGGda3DE8v"><button data-attribute-id="explore__bookmarkPage__click" type="button">
                <svg width="13" height="17" viewBox="0 0 13 17" style="color:#36f">
                    <defs>
                        <path id="bookmarkIconFill"
                              d="M6.25 13.21L.905 16.22c-.403.228-.905-.06-.905-.517V.596C0 .267.27 0 .605 0h11.29c.334 0 .605.267.605.596v15.107c0 .458-.502.745-.905.518L6.25 13.209z">
                        </path>
                    </defs>
                    <g fill="none" fill-rule="evenodd" transform="translate(.188)">
                        <use fill="currentColor" xlink:href="#bookmarkIconFill"></use>
                    </g>
                </svg>
                <span>북마크 모아보기</span>
                <svg width="12" height="12" viewBox="0 0 12 12">
                    <path fill="currentColor"
                          d="M4.22 9.72a.75.75 0 001.06 1.06l4.25-4.25a.75.75 0 000-1.06L5.28 1.22a.75.75 0 00-1.06 1.06L7.94 6 4.22 9.72z">
                    </path>
                </svg>
            </button>
            </div>
            <ul data-cy="job-list" class="clearfix">
                <li v-for="item in options" :key="item.id" :value="item.title">
                    <div data-cy="job-card" class="_3D4OeuZHyGXN7wwibRM5BJ">
                        <a :href=`read?companyId=${companyId}&boardId=${item.id}` class=""
                           data-attribute-id="position__click" data-job-category-id="518" data-company-id="1211"
                           data-company-name="믹스앤픽스(mixnfix)" data-position-id="48849" data-position-name="워드프레스 웹개발자"
                           data-response-level="high" data-response-rate="92.3" data-ai-score="">
                            <!--                            <header style="background-image: url(&quot;https://static.wanted.co.kr/images/company/1211/wlh1rupk96juvqjd__400_400.jpg&quot;);">-->
                            <!--                                <button type="button" class="likeButton" data-attribute-id="position__like__click"-->
                            <!--                                    data-job-category-id="518" data-company-id="1211" data-company-name="믹스앤픽스(mixnfix)"-->
                            <!--                                    data-position-id="48849" data-position-name="워드프레스 웹개발자" data-kind="add">-->
                            <!--                                    <i class="icon-ic_favorite_black_24px"></i>0-->
                            <!--                                </button>-->
                            <!--                            </header>-->
                            <img :src=`/upload/${item.image}` style="width: 247px; height: 185px;">
                            <div class="body">
                                <div class="job-card-position">{{ item.title }}</div>
                                <div class="job-card-company-name">{{ item.companyName }}</div>
                                <div class="job-card-company-location">{{ item.companyCity }}<span class="addressDot">.</span><span>{{ item.companyCountry }}</span>
                                </div>
                                <div class="reward">채용보상금 1,000,000원</div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
            <b-button></b-button>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<!-- Load required Bootstrap and BootstrapVue CSS -->
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

<!-- Load polyfills to support older browsers -->
<script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

<!-- Load Vue followed by BootstrapVue -->
<script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

<!-- Load the following for BootstrapVueIcons support -->
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

<script src="https://npmcdn.com/axios/dist/axios.min.js"></script>

<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);

    const company_id = urlParams.get('companyId');

    new Vue({
        el: "#app",
         methods: {
            getBoardSelectDynamic() {
                axios.get(`http://localhost:9090/board/boards?city=${this.selectedCity}&country=${this.selectedCountry}`)
                 .then(res => {
                    console.log("res", res);
                    this.options = res.data.content;
                 })
                 .catch(error => {
                    console.log(error);
                    throw error;
                 });
            },
            getBoardList() {
                 axios.get('http://localhost:9090/board/boards')
                 .then(res => {
                    console.log("res", res);
                    this.options = res.data.content;
                 })
                 .catch(error => {
                    console.log(error);
                    throw error;
                 });
            },
            goAddWanted() {
                window.location.href = `http://localhost:9090/board?companyId=${company_id}`;
            }
        },
        beforeMount() {
            console.log("11111");
            this.getBoardList();
        },
        data: {
            companyId: company_id,
            title: '',
            image: '',
            companyCountry: '',
            companyName: '',
            companyCity: '',
            options: [],
            selectedCity: 'seoul',
            cityOptions: [
                { value: 'seoul', text: '서울' },
                { value: 'busan', text: '부산' },
                { value: 'gwangju', text: '광주' },
                { value: 'ulsan', text: '울산' }
            ],
            selectedCountry: 'KR',
            countryOptions: [
                { value: 'KR', text: '한국' },
                { value: 'EN', text: '미국' },
                { value: 'CN', text: '중국' },
                { value: 'JP', text: '일본' }
            ],
            message: "리스트 페이지!",
        }
    });
</script>
</body>
</html>
