<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.selldok.toy.event.mapper.EventMapper">

    <select id="getEvent" parameterType="com.selldok.toy.event.model.EventSearchRequest" resultType="com.selldok.toy.event.entity.Event">
        SELECT *
        FROM event e
        WHERE 1 = 1
        <if test="title != null and title != ''">
            AND e.title == title
        </if>
        <if test="date != null">
            AND e.date == date
        </if>
        <if test="isFree != null">
            AND e.isFree == isFree
        </if>
        <if test="eventType != null">
            AND e.eventType == eventType
        </if>
        <if test="owner != null and owner != ''">
            AND e.owner == owner
        </if>
    </select>
</mapper>
