<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Selldok-toy</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/employee.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
<script>
    function myInfoPage(userId){
        location.href='/employees/view/' + userId;
    }
</script>
<div id="app">
    <div role="presentation" class="_18n9ahfYSkH2qwpg5s7sYW" style="position:fixed">
        <div class="MGugNQX2O1RJkenNGmHO9" role="presentation">
            <nav>
                <div data-attribute-id="gnb" data-gnb-kind="home"><a href="/" class="wantedLogo"><i
                        class="icon-logo_new"></i></a></div>
                <ul class="_1ghqg44RECsZcnX4nLgXKP">
                    <li class="xsHomeButton xsOnly" data-attribute-id="gnb" data-gnb-kind="home"><a href="/"
                                                                                                    class="">홈</a></li>
                    <li class="" data-attribute-id="gnb" data-gnb-kind="explore"><a href="/wdlist" class="">탐색</a></li>
                    <li class="microMoreVisible" data-attribute-id="gnb" data-gnb-kind="salary"><a href="/salary"
                                                                                                   class="">직군별 연봉</a>
                    </li>
                    <li class="smMoreVisible" data-attribute-id="gnb" data-gnb-kind="resume"><a href="/cv"
                                                                                                class="">이력서</a></li>
                    <li class="smMoreVisible" data-attribute-id="gnb" data-gnb-kind="refer"><a href="/referral"
                                                                                               class="">추천</a></li>
                    <li class="smMoreVisible" data-attribute-id="gnb" data-gnb-kind="event"><a href="/events" class="">이벤트</a>
                    </li>
                    <li class="smMoreVisible" data-attribute-id="gnb" data-gnb-kind="matchup"><a
                            href="/matchup/intro?from_gnb=true" class="">매치업</a></li>
                </ul>
                <div role="presentation" style="top:50px" class="_20ifPcRwe0HfDn42RqwaqR">
                    <div class="overlay">
                        <div class="container"></div>
                    </div>
                </div>
                <aside class="_1_C3JjCbQiF2wpzdXK0i_Y">
                    <ul>
                        <li>
                            <button type="button" class="searchButton" data-attribute-id="gnb" data-gnb-kind="search"><i
                                    class="icon-search"></i></button>
                        </li>
                        <li>
                            <button type="button" class="notiButton" data-attribute-id="gnb" data-gnb-kind="bell"><i
                                    class="icon-bell"></i></button>
                        </li>
                        <li class="smMoreVisible" style="padding-top:5px;">
                            <button type="button"
                                    th:style="'background-image:url(' + ${#authentication.picUrl} + '), url(' + ${#authentication.picUrl} + ');'"
                                    data-attribute-id="gnb" data-gnb-kind="photo" class="profileButton" th:onclick="'myInfoPage(' + ${#authentication.id} + ');'"></button>
                        </li>
                        <li class="smMoreVisible" data-attribute-id="gnb" data-gnb-kind="forEmployers"
                            style="padding-top:10px;"><a
                                class="dashboardButton" href="/">기업 서비스</a></li>
                        <li class="smMoreVisible" data-attribute-id="gnb" data-gnb-kind="forEmployers"
                            style="padding-top:10px;"><a
                                class="dashboardButton" href="/event/list">이벤트 관리</a></li>
                        <li class="smMoreVisible" data-attribute-id="gnb" data-gnb-kind="forEmployers"
                            style="padding-top:10px;"><a
                                class="dashboardButton" href="/auth/logout">로그아웃</a></li>
                        <li class="xsOnly">
                            <button class="menuButton" type="button" data-attribute-id="gnb" data-gnb-kind="photo"><i
                                    class="icon-menu"></i></button>
                        </li>
                    </ul>
                </aside>
            </nav>
        </div>
    </div>
    <div style="height:50px"></div>
    <div class="_1Gv5LM5zal-f72_XSo_qJ_">
        <nav role="presentation" class="_3wSXAiIJQZ98fJ-Hi6G42Q is-matching">
            <button type="button" class="">프로필<i class="icon-arrow_bottom_fill"></i></button>
            <ul class="_1I4cqaAHGtwxgFUnJHZb4l">
                <li class="_1ft7OZSrbzL35bkI-omU2b">
                    <div data-attribute-id="myPage" data-tab-kind="myWanted"><a href="/mywanted" class="">MY 원티드</a>
                    </div>
                </li>
                <li class="_1ft7OZSrbzL35bkI-omU2b">
                    <div data-attribute-id="myPage" data-tab-kind="profile"><a href="/profile/matching"
                                                                               class="activeNav">프로필</a></div>
                </li>
                <li class="_1ft7OZSrbzL35bkI-omU2b">
                    <button type="button" class="">지원 현황<i class="icon-arrow_bottom_fill"></i></button>
                    <div data-attribute-id="myPage" data-tab-kind="applications"><a href="/status/applications"
                                                                                    class="">지원 현황</a></div>
                </li>
                <li class="_1ft7OZSrbzL35bkI-omU2b">
                    <button type="button" class="">제안받기 현황<i class="icon-arrow_bottom_fill"></i></button>
                    <div data-attribute-id="myPage" data-tab-kind="offersReceived"><a href="/profile/status" class="">제안받기
                        현황</a></div>
                </li>
                <li class="_1ft7OZSrbzL35bkI-omU2b">
                    <div data-attribute-id="myPage" data-tab-kind="likes"><a href="/profile/likes" class="">좋아요</a>
                    </div>
                </li>
                <li class="_1ft7OZSrbzL35bkI-omU2b">
                    <div data-attribute-id="myPage" data-tab-kind="bookmarks"><a href="/profile/bookmarks"
                                                                                 class="">북마크</a></div>
                </li>
                <li class="_1ft7OZSrbzL35bkI-omU2b">
                    <button type="button" class="">MY 영상<i class="icon-arrow_bottom_fill"></i></button>
                    <div data-attribute-id="myPage" data-tab-kind="myVideos"><a href="/profile/myvod" class="">MY 영상</a>
                    </div>
                </li>
                <li class="_1ft7OZSrbzL35bkI-omU2b">
                    <div data-attribute-id="myPage" data-tab-kind="points"><a href="/profile/point" class="">포인트</a>
                    </div>
                </li>
                <li class="_1ft7OZSrbzL35bkI-omU2b">
                    <button type="button" class="">설정<i class="icon-arrow_bottom_fill"></i></button>
                    <div data-attribute-id="myPage" data-tab-kind="settings"><a href="/profile/settings" class="">설정</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="_14NzdD9Zqjq8ocf6TORWoN">
            <aside class="Aside _1dBR38s0D_bqykmPvZBYPu">
                <header class="Aside-header">
                    <div class="Aside-avatar">
                        <div class="Aside-avatar_image"
                             th:style="'background-image:url(' + ${#authentication.picUrl} + '), url(' + ${#authentication.picUrl} + ');'">
                            <div class="_1RDFX7ZROHIIPqPMgmtS2E"><input type="file" accept="image/*"><i
                                    class="icon-camera_icon" role="presentation"></i></div>
                        </div>
                    </div>
                    <div class="Aside-me">
                        <div class="Aside-me_name" th:text="${employee.info.name}"></div>
                        <div class="Aside-me_email" th:text="${employee.info.email}"></div>
                        <div class="Aside-me_tel" th:text="${employee.info.phoneNumber}"></div>
                    </div>
                    <a th:href="@{'/employees/basicinfo/' + ${#authentication.id}}" class="Aside-edit">기본정보 수정</a></header>
                <div class="MatchUpStatus _s0V-DmOyFivCW3HY7Nh3 is-disabled"><a
                        href="/profile/status?type=matchup-likes"
                        class="MatchUpStatus-item disabled"><span
                        class="MatchUpStatus-label">원해요</span><strong class="MatchUpStatus-value">3</strong></a><a
                        href="/profile/status?type=matchup-opens" class="MatchUpStatus-item disabled"><span
                        class="MatchUpStatus-label">열람</span><strong class="MatchUpStatus-value">7</strong></a><a
                        href="/profile/status?type=matchup-offers" class="MatchUpStatus-item disabled"><span
                        class="MatchUpStatus-label">받은 제안</span><strong class="MatchUpStatus-value">5</strong></a></div>
            </aside>
            <section>
                <div class="_6zGbQ6Gwdi0O826QWL_gN">
                    <div class="MatchUpForm _1DBZ1F8aWXUpL5ry5a_nRi _3KMaM1vv70381zri4eolK1">
                        <div class="ResumeWordCountWarning-body"><p class="ResumeWordCountWarning-count is-invalid">이력서
                            글자 수
                            : <span class="current_char">336자</span> / 최소 400자</p>
                            <p class="ResumeWordCountWarning-guide">글자 수가 400자 이상이면, 직접 제안받을 확률이 높아집니다.</p></div>
                        <a href="/cv/648412?from=profile" class="ResumeWordCountWarning-button"
                           data-attribute-id="profile__completeProfile">이력서 강화하기</a></div>
                    <div class="MatchUpForm _1DBZ1F8aWXUpL5ry5a_nRi _3IED0gKfPim4KkuZ7BNhTA">
                        <header class="Form-header">
                            <dl class="Form-title">
                                <dt>기본 이력서</dt>
                            </dl>
                        </header>
                        <div class="FormBlock _3jRGSvRhv5E53D3OVwfvlL">
                            <div class="FormBlock-content content">
                                <div class="_1hQHY2MOttuKGMBqDe_htT">
                                    <div class="Static-label">기본 이력서 선택</div>
                                    <div class="Static-body">
                                        <div class="j5MfBkBHKnuB74EAGzFL">
                                            <button type="button" class="DefaultResumeSelector-button">
                                                <div class="NlOsfy4t2aG54dAwY-U_7 DefaultResumeSelector-resumeLang">한
                                                </div>
                                                <span>Incheol Jung | 개발자 정인철</span></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="MainResume-fieldset">
                                    <div class="_1hQHY2MOttuKGMBqDe_htT">
                                        <div class="Static-label">학교</div>
                                        <div class="Static-body">
                                            <div class="_19vX-16wSMhdZ9PHWSu9fr">
                                                <input id="schoolName" class="selldock_input_schoolName" type="text"
                                                       autocomplete="off"
                                                       th:value="*{employee.personInfo.school?.schoolName}">
                                                <input id="department" class="selldock_input_department" type="text"
                                                       autocomplete="off"
                                                       th:value="*{employee.personInfo.school?.department}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="_1hQHY2MOttuKGMBqDe_htT">
                                        <div class="Static-label">직장</div>
                                        <div class="Static-body">
                                            <div class="_19vX-16wSMhdZ9PHWSu9fr">
                                                <input id="companyName" class="selldock_input_companyName" type="text"
                                                       autocomplete="off"
                                                       th:value="*{employee.personInfo.company?.companyName}">
                                                <input id="position" class="selldock_input_position" type="text"
                                                       autocomplete="off"
                                                       th:value="*{employee.personInfo.company?.position}">
                                                <input id="rank" class="selldock_input_rank" type="text"
                                                       autocomplete="off"
                                                       th:value="*{employee.personInfo.company?.rank}">
                                            </div>
                                        </div>
                                        <a href="/cv/648412?from=profile" class="MainResume-edit"
                                           data-attribute-id="profile__completeProfile"><i class="icon-edit"
                                                                                           style="font-size: 28px;"></i></a>
                                    </div>
                                    <div class="MainResume-about">안녕하세요. 5년차 서버 개발자 입니다.</div>
                                </div>
                            </div>
                        </div>
                        <div class="MatchUpForm _1DBZ1F8aWXUpL5ry5a_nRi _3ZoHfZyrHiWR9JdVIgtNxq">
                            <header class="Form-header">
                                <dl class="Form-title">
                                    <dt>전문분야 설정</dt>
                                </dl>
                            </header>
                            <div class="FormBlock _3jRGSvRhv5E53D3OVwfvlL">
                                <div class="FormBlock-content content">
                                    <div class="EnterInterestArea-fieldset">
                                        <div class="_1hQHY2MOttuKGMBqDe_htT">
                                            <div class="Static-label">직군</div>
                                            <input id="occupation" class="selldock_input_occupation" type="text"
                                                   autocomplete="off"
                                                   th:value="*{employee.personInfo.expertise?.occupation}">
                                        </div>
                                        <div class="_1hQHY2MOttuKGMBqDe_htT">
                                            <div class="Static-label">직무</div>
                                            <input id="task" class="selldock_input_task" type="text" autocomplete="off"
                                                   th:value="*{employee.personInfo.expertise?.task}">
                                        </div>
                                        <div class="_1hQHY2MOttuKGMBqDe_htT">
                                            <div class="Static-label">경력</div>
                                            <input id="carrer" class="selldock_input_carrer" type="text"
                                                   autocomplete="off"
                                                   th:value="*{employee.personInfo.expertise?.carrer}">
                                        </div>
                                        <div class="_1hQHY2MOttuKGMBqDe_htT">
                                            <div class="Static-label">스킬</div>
                                            <textarea id="skills" class="selldock_input_skills" type="text"
                                                      autocomplete="off"
                                                      th:value="*{employee.personInfo.expertise?.skills}"></textarea>
                                        </div>
                                        <a href="/profile/matching?level=2&amp;step=1&amp;modi=true"
                                           class="EnterInterestArea-edit" data-attribute-id="profile__changeInterest"><i
                                                class="icon-edit" style="font-size: 28px;"></i></a></div>
                                </div>
                            </div>
                            <div class="FormBlock _3jRGSvRhv5E53D3OVwfvlL">
                                <div class="FormBlock-content content">
                                    <div class="_1EAHl8ELPU2wXBt1lTk3dJ">
                                        <div class="FormButton _3I5bkI50gryaER31Iu7b4E"><h6 class="FormButton-label">추천인
                                            선택</h6>
                                            <button type="button" class="FormButton-button">선택하기<i
                                                    class="icon-arrow_right"></i>
                                            </button>
                                        </div>
                                        <div class="FormButton _3I5bkI50gryaER31Iu7b4E selected"><h6
                                                class="FormButton-label">
                                            제외기업설정</h6>
                                            <button type="button" class="FormButton-button">마마 컴퍼니<i
                                                    class="icon-arrow_right"></i></button>
                                        </div>
                                        <div class="InputGroup S_Q_6_Q0Z4g7wQdTbQh7e _3VqhswPaKoJ1nTQbYROm0N"><h6
                                                class="InputGroup-label">구직 여부 설정</h6>
                                            <div class="InputGroup-body">
                                                <div class="JobSearchIntentionSelector-wrapper red"><select
                                                        class="JobSearchIntentionSelector-select red">
                                                    <option value="NOW">현재 구직 중</option>
                                                    <option value="INTEREST">관심 있음</option>
                                                    <option value="NO">전혀 관심 없음</option>
                                                </select></div>
                                                <span class="JobSearchIntentionSelector-status">이력서 비공개</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="FormFooter _3MqXvmRsKlYS61B7NaqHUC isChild">
                                <button type="button" class="BasicInformation-submit" data-attribute-id="profile__next"
                                        data-step="1">확인
                                </button>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" class="selldock_input_id" th:value="*{employee.id}">
            </section>
        </div>
    </div>
</div>
<script>
    $('.BasicInformation-submit').click(function () {
        $.ajax({
            url: 'http://localhost:9090/employees/profile/' + $('.selldock_input_id').val(),
            type: 'put',
            data: JSON.stringify({
                "resume": "이력서 기본.docs",
                "school": {
                    "schoolName": $('.selldock_input_schoolName').val(),
                    "department": $('.selldock_input_department').val()
                },
                "company": {
                    "companyName": $('.selldock_input_companyName').val(),
                    "position": $('.selldock_input_position').val(),
                    "rank": $('.selldock_input_rank').val()
                },
                "expertise": {
                    "occupation": $('.selldock_input_occupation').val(),
                    "task": $('.selldock_input_task').val(),
                    "carrer": $('.selldock_input_carrer').val(),
                    "skills": $('.selldock_input_skills').val()
                }
            }),
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            statusCode: {
                200: function () {
                    console.log("200 Success!");
                },
                202: function () {
                    alert("infomation saved successfully");
                    location.href = '/employees/view/' + $('.selldock_input_id').val();
                },
                403: function () {
                    console.log("403 Error!");
                },
                404: function () {
                    console.log("404 Error!");
                }
            }
        })
    })
</script>
</body>
</html>
