<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
<div id="app">
    {{ message }}
    <fb:login-button
            scope="public_profile,email,user_birthday,user_friends"
            onlogin="checkLoginState();">
    </fb:login-button>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            message: "login 페이지"
        }
    });
</script>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '214073820126154',
            xfbml: true,
            version: 'v9.0'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    }

    function statusChangeCallback(callBackResponse) {
        console.log(callBackResponse);
        if (callBackResponse.status === 'connected') {
            FB.api('/me', {fields: 'email'}, function (profileResponse) {
                axios.post('http://localhost:8080/auth/check',
                Object.assign(callBackResponse, {email: profileResponse.email}),
                function (validResponse) {
                    console.log('axios.post response : ' + validResponse);
                });
            });
        }

    }
</script>
</body>
</html>
